.page-header
  .btn-toolbar.pull-right
    = link_to 'New Project', new_project_path, class: 'btn'
  %h1 Your Projects

%table.table.table-striped
  - @projects.each do |project|
    %tr
      %td= link_to project.name, project 
