.local-notification-dependent.unsupported
  .alert.alert-error
    Your browser does not support push notifications.
.local-notification-dependent.permission-denied
  .alert.alert-error
    You've denied permission to use push notifications.
.local-notification-dependent.permission-required
  .alert.alert-info
    %p Your browser does not support push notifications.
    .div= link_to "Enable Notifications", "#", class: "btn btn-small btn-primary enable-notifications-link"